<div class="Dashboard">
    <div class="Dashboard__Container">
        <div class="Dashboard__Billboard">
            <span>
                <!-- <img src="../../../assets/img/Icon_Netflix.png" alt=""> -->
                <p>N</p>
                <p>影集</p>
            </span>
            <p>雖然是神經病但沒關係</p>
            <div>
                <span>
                    <p>TOP</p>
                    <p>10</p>
                </span>
                <p>本日台灣排行榜第 1 名</p>
            </div>
            <p>她希望他多為自己著想一些，他向她證明自己絕不會像別人一樣背棄她。他們走入了彼此生命，也徹底改變了彼此的人生。</p>
            <button (click)="this.$auth.logout()">登出</button>
            <div>
                <button><i class="fa fa-play"></i>播放</button>
                <button><i class="fa fa-info-circle"></i>更多資訊</button>
            </div>
        </div>
        <div class="Dashboard__Origin">
            <p>Netflix 原創作品 <i class="fa fa-angle-right"></i></p>
            <div>
                <img src="assets/img/origin_1.jpg" alt="">
                <img src="assets/img/origin_2.jpg" alt="">
                <img src="assets/img/origin_3.jpg" alt="">
                <img src="assets/img/origin_4.jpg" alt="">
                <img src="assets/img/origin_5.jpg" alt="">
            </div>
        </div>
        <div class="Dashboard__Hot">
            <p>現正熱播</p>
            <div>
                <img src="assets/img/hot_1.jpg" alt="">
                <img src="assets/img/hot_2.jpg" alt="">
                <img src="assets/img/hot_3.jpg" alt="">
                <img src="assets/img/hot_4.jpg" alt="">
                <img src="assets/img/hot_5.jpg" alt="">
            </div>
        </div>
    </div>
</div>