.Dashboard {
    height: 100%;
    &__Container {
        padding: 0px 4rem;
        display: flex;
        flex-direction: column;
    }
    &__Billboard {
        height: 55rem;
        border-bottom: 1px solid white;
        margin: 0px -4rem;
        background-image: url("../../../../../assets/img/main_billboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10rem 4rem 0px 4rem;
        & > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            & > p:first-child {
                color: red;
                font-size: 2rem;
                font-weight: bolder;
                font-family: Arial, Helvetica, sans-serif;
            }
            & > p:last-child {
                color: rgb(209, 209, 209);
                font-weight: bold;
                padding-left: 0.5rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.3rem;
            }
        }
        & > p:nth-child(2) {
            font-size: 5rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            word-wrap: break-word;
            width: 490px;
            line-height: 5rem;
            padding-bottom: 2rem;
        }
        & > div:nth-child(3) {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            & > span {
                display: flex;
                flex-direction: column;
                border: 3px solid white;
                width: 50px;
                justify-content: center;
                align-items: center;
            }
            & > p {
                padding-left: 1rem;
                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        & > p:nth-child(4) {
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            width: 600px;
            word-wrap: break-word;
            padding: 1.5rem 0px;
        }
        & > button:nth-child(5) {
            position: absolute;
            top: 2rem;
            right: 2rem;
            border: none;
            outline: none;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            width: 4rem;
            background-color: rgb(229, 9, 20);
            border-radius: 3px;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            &:hover {
                cursor: pointer;
            }
        }
        & > div:last-child {
            & > button {
                height: 4rem;
                outline: none;
                border: none;
                border-radius: 5px;
                font-size: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                & > i {
                    padding-right: 1rem;
                }
                &:first-child {
                    width: 10rem;
                    margin-right: 1rem;
                }
                &:last-child {
                    width: 13rem;
                    color: white;
                    background-color: rgba(128, 128, 128, 0.7);
                }
            }
        }
    }
    &__Origin {
        margin-top: -2.3rem;
        margin-bottom: 3rem;
        & > p {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        & > div {
            display: flex;
            flex-direction: row;
            & > span {
                height: 600px;
                width: 300px;
                border: 1px solid white;
                margin-right: 5px;
            }
        }
    }
    &__Hot {
        & > p {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin: 1rem 0px;
        }
        & > div {
            display: flex;
            flex-direction: row;
            & > span {
                height: 160px;
                width: 300px;
                border: 1px solid white;
                margin-right: 5px;
            }
        }
    }
}
