<div class="Account-Manage" *ngIf='this.$user.user$ | async as user'>
    <div class="Account-Manage__Container">
        <ng-container *ngIf='!this.isEdit; else tEdit'>
            <p>誰在觀賞影片?</p>
            <ul>
                <li *ngFor="let account of user.accounts;let i = index">
                    <app-user [user]="account" (click)="this.router.navigate(['dashboard'])"></app-user>
                </li>
                <li *ngIf="user.accounts.length < 5">
                    <i class="fa fa-plus-circle" (click)="this.router.navigate(['account-manage/create'])"></i>
                    <p>新增使用者</p>
                </li>
            </ul>
            <button (click)="this.isEdit= true">管理使用者</button>
        </ng-container>
        <ng-template #tEdit>
            <div class="Account-Manage__Edit">
                <p>管理使用者</p>
                <ul>
                    <li *ngFor="let account of user.accounts;let i = index">
                        <app-user [user]="account" [isEdit]="this.isEdit" (emit)="this.manageAccount($event)">
                        </app-user>
                    </li>
                    <li *ngIf="user.accounts.length < 5">
                        <i class="fa fa-plus-circle" (click)="this.router.navigate(['account-manage/create'])"></i>
                        <p>新增使用者</p>
                    </li>
                </ul>
                <button (click)="this.isEdit= false">完成</button>
            </div>
        </ng-template>
    </div>
</div>