<div class="Footer">
    <p>有疑問嗎？請聯絡我們。</p>
    <div class="Footer__List">
        <ul>
            <li>常見問題</li>
            <li>投資人關係</li>
            <li>隱私權</li>
            <li>速度測試</li>
        </ul>
        <ul>
            <li>說明中心</li>
            <li>工作機會</li>
            <li>Cookie 設定</li>
            <li>法律聲明</li>
        </ul>
        <ul>
            <li>帳戶</li>
            <li>觀賞方式</li>
            <li>企業資訊</li>
            <li>Netflix 原創作品</li>
        </ul>
        <ul>
            <li>媒體中心</li>
            <li>使用條款</li>
            <li>聯絡我們</li>
        </ul>       
    </div>
    <p>中文</p>
    <p>Netflix 台灣</p>
</div>