.Login {
    &__Content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../../../../assets/img/Board_Guest.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50rem;
        & > div:first-child {
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            & > img {
                width: 12.5rem;
                height: 7.5rem;
                cursor: pointer;
            }
        }
        & > div:nth-child(2) {
            z-index: 2;
            width: 28rem;
            height: 40rem;
            padding: 3.75rem 4.25rem 2.5rem 4.25rem;
            background-color: rgba(0, 0, 0, 0.8);
            margin-bottom: 6rem;
            font-family: Arial, Helvetica, sans-serif;
            & > p {
                font-size: 2rem;
                font-weight: bolder;
                margin-bottom: 1.5rem;
            }
            & > div:nth-child(2) {
                display: flex;
                flex-direction: column;
                & > input {
                    background-color: rgb(31, 31, 31);
                    outline: none;
                    border: none;
                    height: 3rem;
                    border-radius: 5px;
                    color: rgb(140, 140, 140);
                    margin-bottom: 1rem;
                    padding-left: 1.2rem;
                }
                & > button {
                    outline: none;
                    border: none;
                    background-color: rgb(229, 9, 20);
                    height: 3rem;
                    border-radius: 5px;
                    color: white;
                    font-weight: bolder;
                    margin: 1.5rem 0px 1rem 0px;
                }
            }
            & > div:last-child {
                font-size: 0.9rem;
                display: flex;
                flex-direction: column;
                & > div {
                    display: flex;
                    flex-direction: row;
                    & > p {
                        color: rgb(115, 115, 115);
                    }
                    &:first-child {
                        justify-content: space-between;
                        margin-bottom: 2.5rem;
                        & > label {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            & > input {
                                height: 1rem;
                                width: 1rem;
                                outline: none;
                                position: relative;
                                margin-right: 0.2rem;
                                &::before {
                                    content: "";
                                    display: flex;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 1rem;
                                    height: 1rem;
                                    background-color: black;
                                    border-radius: 2px;
                                    background-color: rgb(115, 115, 115);
                                }
                                &:checked {
                                    &::after {
                                        font-family: FontAwesome;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        z-index: 2;
                                        content: "\f00c";
                                        width: 1rem;
                                        height: 1rem;
                                        background-color: rgb(115, 115, 115);
                                        color: black;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 1rem;
                                        border-radius: 2px;
                                    }
                                }
                            }
                            & > p {
                                color: rgb(179, 179, 179);
                            }
                        }
                        & > p {
                            color: rgb(179, 179, 179);
                            &:hover{
                                cursor: pointer;
                                text-decoration-line: underline;
                            }
                        } 
                    }
                    &:nth-child(2) {
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 1rem ;
                        & > i {
                            font-size: 1.3rem;
                            margin-right: 0.5rem;
                        }
                    }
                    &:nth-child(3) {
                        margin-bottom: 1rem;
                        & > p {
                            color: rgb(115, 115, 115);
                            font-size: 1rem;
                            & > a {
                                color: white;
                                cursor: pointer;
                                margin-left: 0.5rem;
                                &:hover {
                                    text-decoration-line: underline;
                                }
                            }
                        }
                    }
                }
                & > p {
                    color: rgb(140, 140, 140);
                    font-size: 13px;
                    line-height: 1rem;
                    & > a {
                        cursor: pointer;
                        color: rgb(0, 128, 255);
                        &:hover {
                            text-decoration-line: underline;
                        }
                    }
                    &:last-child {
                        margin-top: -0.5rem;
                    }
                }
            }
        }
        & > span {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}